@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: 0.5s;
}

header {
  display: flex;
  justify-content: center;
}
section {
  margin: 2rem 0 2rem 0;
}
body {
  background: url(./5640746.jpg);
  background-size: cover;
  background-repeat: repeat;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

#title {
  font-size: 8rem;
  font-weight: 900;
  color:  #FF0063;
  cursor: pointer;
  text-shadow: 0px 16px 28px rgba(0, 0, 0, 0.3);
}
.palet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#color-palette{
  margin-bottom: 3rem;
}

.dim {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.black {
  background-color: black;
}

.pixel-art {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.reset,.inputGrelha{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.inputGrelha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color:hover {
  width: 100px;
  height: 100px;
  transition: 0.2s;
  border: 6px solid  #2fc18c;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.5);
}

.color {
  border-radius: 100%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  line-height: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}
.linha {
  margin: 0;
  padding: 0;
  line-height: 0;
}
#cores-random {
  width: 150px;
}

.selected,
.selected:hover {
  border: 6px solid #2EE59D;
  transition: 0.2s;
  width: 110px;
  height: 110px;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.6);
  cursor: default;
}
.pixel {
  background-color: #fff;
  cursor: pointer;
}

button {
  width: 140px;
  height: 45px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

#cores-random{
  width: 240px;
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  input {
    width: 140px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    }

.container-social{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5vh;
  height: 100px;
}
ul{
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}
li{
  text-decoration: none;

}
a{
  text-decoration: none;
  color: #FFF;
  font-size: 30px;
  font-weight: 100;
  color: #FF0063;;
}

a:hover{
  font-weight: 600;
  font-size: 35px;
  text-shadow: 0px 16px 28px rgba(255, 0, 9, 0.6);
}

svg{
  background-color: #FFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

svg:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
.container-rgb{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 10px;
}
.rgb{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 42px;
  gap: 1rem;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

#red:focus::-webkit-slider-runnable-track {
  background: #FD280D;
}
#blue:focus::-webkit-slider-runnable-track {
  background: #33DFE5;
}
#green:focus::-webkit-slider-runnable-track {
  background: #2EE59D;
}

#red::-webkit-slider-runnable-track {
  background: #A3001B;
}
#blue::-webkit-slider-runnable-track {
  background: blue;
}
#green::-webkit-slider-runnable-track {
  background: green;
}